// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

// Celeste texto
$celesteTexto: #27a9e0;
$celesteTextoSuave: #222;

.top-links {
  background: #52bae6;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: font-url('roboto-regular.ttf') format('truetype'),;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: font-url('roboto-bold.ttf') format('truetype'),;
}

header {
  background: #ffffff;
  .top-bar {
    background: #ffffff !important;
  }
}

.logo {
  color: #52bae6;
}

.top-bar {
  color: $celesteTexto;

  .top-bar-title a {
    img {
      @include breakpoint(medium) {
        height: $line-height * 2.75;
        width: auto;
        vertical-align: bottom;
        padding-left: rem-calc(15);
      }
    }
  }

  .menu > li {
    @include breakpoint(medium) {
      display: table-cell;
      height: $line-height * 4.0;
    }

    a {
      color: #52bae6;
    }
  }

  .menu-icon.dark {
    height: 20px;

    &::after,
    &:hover::after {
      background: #52bae6;
      box-shadow: 0 7px 0 #52bae6, 0 14px 0 #52bae6;
    }
  }
}

.highlight {
  background: #fff;
}
