// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

.top-links {
  background: #52bae6;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: font-url('roboto-regular.ttf') format('truetype'),;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: font-url('roboto-bold.ttf') format('truetype'),;
}

header {
  background: #ffffff;
  .top-bar {
    background: #ffffff !important;
  }
}

.logo {
  color: #52bae6;
}

.top-bar {
  // Celeste texto
  color: #27a9e0;

  .top-bar-title a {
    img {
      @include breakpoint(medium) {
        height: 80px;
        margin-top: 1.0rem;
        margin-left: 0.25rem;
        width: auto;
      }
    }
  }

  .menu > li {
    a {
      color: #52bae6;
    }
  }

  .menu-icon.dark {
    height: 20px;

    &::after,
    &:hover::after {
      background: #52bae6;
      box-shadow: 0 7px 0 #52bae6, 0 14px 0 #52bae6;
    }
  }
}
