// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

// Celeste texto
$celesteTexto: #27a9e0;
$celesteTextoSuave: #52bae6;

.top-links {
  background: #52bae6;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: font-url('roboto-regular.ttf') format('truetype'),;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: font-url('roboto-bold.ttf') format('truetype'),;
}

.logo {
  color: #52bae6;
}

.highlight {
  background: #fff;
}

// 02. Header
// ----------

header {
  background: #ffffff;
  margin-bottom: 0px;

  .top-bar {
    background: #ffffff !important;
  }
}

.top-bar {
  color: $celesteTexto;

  .top-bar-title a {
    img {
      @include breakpoint(medium) {
        height: $line-height * 2.75;
        width: auto;
        vertical-align: bottom;
        padding-left: rem-calc(15);
      }
    }
  }

  .menu > li {
    @include breakpoint(medium) {
      display: table-cell;
      height: $line-height * 4.0;
    }

    a {
      color: #52bae6;
    }
  }

  .menu-icon.dark {
    height: 20px;

    &::after,
    &:hover::after {
      background: #52bae6;
      box-shadow: 0 7px 0 #52bae6, 0 14px 0 #52bae6;
    }
  }
}

// Hero slider
// Taken from: https://foundation.zurb.com/building-blocks/blocks/clean-hero-slider.html
.clean-hero-slider {
  .orbit-caption {
    width: auto;
    height: auto;
    background: none;
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    padding: 0.2rem 2rem;

    @include breakpoint(medium) {
      // @include vertical-center;
      text-align: left;
      width: 43%;
      right: 0;
      padding: 1rem 2rem;
    }

    @include breakpoint(xlarge) {
      @include vertical-center;

      padding-left: 15%;
    }

    h3 {
      color: $celesteTexto;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 0;

      @include breakpoint(medium) {
        font-size: 2.0rem;
      }
    }

    p {
      font-size: 0.9rem;
      line-height: 1.50;
      color: $celesteTextoSuave;
    }

    .button {
      background: $celesteTexto;
      font-size: 0.9rem;
      border-radius: 25px;
      padding: 0.85em 1.50em;
    }
  }

  .orbit-slide {
    padding-bottom: 75%;

    @include breakpoint(medium) {
      padding-bottom: 0;
    }

    img {
      image-rendering: auto;
    }
  }

  ul.orbit-container {
    height: auto !important;
  }

  li.orbit-slide {
    max-height: none !important;
  }
}

.main {
  background-color: $celesteTextoSuave;
  color: #fff;

  img {
    max-height: 80px;
  }

  h2 {
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  p {
    font-size: 14px;
    line-height: 18px;
    padding: 0 15%;

    @include breakpoint(medium) {
      padding: 0;
    }
  }

  .column:not(:first-child) {
    margin-top: 30px;
  }

  @include breakpoint(medium) {
    .column:not(:first-child) {
      margin-top: 0px;
    }
  }
}
